body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
}

h1 {
    display: flex;
    justify-content: center;
}

.input{
    display: flex;
    height: 50px;
    width: 300px;
    justify-content: space-between;
    margin: 10px 10px 0 0;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.speed , .altitude{
    display: flex;
    flex-direction: row;
}

.QFE{
    display: flex;
    align-self: center;
}
.QFE p{
    margin: auto 3px; 
}

.QFE .input{
    flex-direction: column;
}
label {
    margin: auto;
    text-wrap: balance;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    h1{
        font-size: 1.8em;
    }
    main {
        font-size: 0.9em;
    }
    .input{
        width: 250px;
    }
    .speed , .altitude{
        flex-direction: column;
        margin-bottom: 20px;
    }
    
}